@import "src/styles/variables";

.product-details-wrapper {
  width: 100%;
}

.products-details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-details__card {
  width: 70%;
  gap: 15px;
  padding: 1%;
  display: flex;
  align-items: center;

  background: #ffffff;
  box-shadow: 0px 0px 25px 10px #f6f4fd;
  border-radius: 10px;
}
.product-details__photos-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.product-details__photos {
  //padding: 10px;
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.product-details__photo-item {
  //width: 40%;
}
.product-details__photo-item img {
  width: 100%;
  border-radius: 5px;
}

.product-details__main-photo {
  width: 100%;
  //width: 134%;
  //max-height: 80%;
}
.product-details__main-photo img {
  width: 100%;
  border-radius: 5px;
}

.product-details__title {
  font-size: 2em;
  color: $blackBlue;
}

.product-details__description {
  //max-width: 80%;
  color: $greyText;
  font-size: 0.8em;
  margin: 0;
}
.product-details__text {
  padding: 0 10px;
  max-width: 55%;
}
.product-details__text-wrapper {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 12px;
}
.product-details__price {
  color: $cardTextColor;
}
.product-details__cart-btn {
  color: $cardTextColor;
}
.product-details__categories,
.product-details__tags,
.product-details__share {
  color: $cardTextColor;
}

.list {
  display: inline-block;
  li {
    display: inline-block;
    margin: 0 2px;
  }
  //li:after {
  //  content: ",";
  //  display: inline-block;
  //
  //}
}
