@import "src/styles/variables";

.dropItem{
    display: flex;
    align-items: center;
    margin-left: 35px;
    cursor: pointer;
    transition: color 0.2s linear;

  &:hover {
    color: $purple;
  }
  &:first-child {
    margin-left: 0;
  }
  &:hover::after {
    opacity: 1;
    transform: rotate(0deg);
  }
  &::after {
    content: "";
    transform: rotate(90deg);
    margin-left: 5px;
    display: inline-block;
    opacity: 0;
    width: 15px;
    height: 15px;
    background-image: url("../../../assets/arrow-down.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: opacity 0.3s, transform 0.2s linear;
  }
}