@import "../../styles/variables";

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header-inner {
  width: 100%;
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  &__logo {
    font-size: 1.8em;
    color: black;
    font-weight: 600;
  }
}

.header-inner__navBar {
  display: flex;
  align-items: center;


}

.search {
  width: 20%;
  display: flex;
  &__field {
    width: 100%;
    height: 40px;
    font-family: "Lato", sans-serif;
    border: 2px solid #e7e6ef;
    border-right: none;
    border-radius: 0;
    outline: none;
    font-size: 1em;
    padding: 0 10px;
  }
  &__btn {
    cursor: pointer;

    background-color: $purple;
    outline: none;
    border: none;
    padding: 2px 13px;
  }
  &__btn::after {
    content: "";
    width: 18px;
    height: 18px;
    display: block;
    background-image: url("../../assets/search-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
