//primary-colors
$violet: #7e33e0;
$purple: #fb2e86;
$purple2: #9877e7;
$green: #08d15f;
$borderColor: #e7e6ef;
$greyText: #9096b2;
$bgColor: #eeeffb;
$cardTextColor: rgba(21, 24, 117, 1);
$categoryCardColor: #f6f7fb;

$lightPurple: #8a8fb9;

$blackBlue: #0d134e;
