//primary-colors
$violet: #7E33E0;
$purple: #FB2E86;
$purple2: #9877E7;
$green: #08D15F;
$borderColor: #e7e6ef;
$greyText: #9096B2;
$bgColor:#EEEFFB;
$cardTextColor: rgba(21, 24, 117, 1);
$categoryCardColor: #F6F7FB;